
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /dabike/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /dabike/index.php [L]
php_value max_execution_time 1200
</IfModule>

# END WordPress
# BEGIN Simply Static
# The directives (lines) between "BEGIN Simply Static" and "END Simply Static" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<Files "C:\xampp\htdocs\dabike/wp-content/uploads\simply-static\63d928f2123879e8d781f8df42d7a096-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static